//
// Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  border: none;
  color: $white;
  padding: 1.2rem;
  box-shadow: 0px 0px 15px 0px rgba(249, 129, 79, 0.29);
  transition: $btn-transition;

  &:hover {
    opacity: 0.9;
  }
}

.btn-primary {
  background: $primary;
}

.btn-lg {
  padding: 7rem;
}
