//
// Navbar
// --------------------------------------------------

.navbar {
  align-items: center;
  background-color: rgba($black, 0.7);
  padding: $navbar-padding;
  position: absolute;
  width: $navbar-width;
  z-index: $zindex-navbar;
  font-family: $font-family-base;
  font-size: 1.3rem;

  .navbar__links {
    list-style: $link-decoration;
    display: flex;
    justify-content: center;

    > li a {
      //display: inline-block;
      //display: block;
      padding: 0px 20px;
      color: $white;
    }

    > li a.active {
      color: $primary;
    }
  }
  li a:hover {
    color: $primary;
    transition: $navbar-transition;
  }
}
